*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}
body{
    background-color: #0fcae230;
    font-family: 'Montserrat', sans-serif;
}
.galeria{
    background-color: rgb(25, 33, 25);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img2{
    border: rgb(241, 19, 7) 3px double;
    opacity: .1;
}
.img2:hover{
    opacity: .4;
    border: rgb(227, 219, 219) 2px solid;
}
h1{
    color: black;
    font-family: 'Courgette', cursive;
    text-decoration: underline;
}
h2{
    color: black;
    font-size: 3rem;
    text-decoration: underline;
    font-family: 'Courgette', cursive;
}
h4{
    margin: 2px;
    color: rgb(245, 3, 3);
    font-size: 1rem;
    text-decoration: underline;
    font-family: 'Courgette', cursive;
}
.pag2{
    background-color: darkred;
    text-align: center;
}  
.parrafo1{
    color: rgb(247, 14, 14);
    font-size: 1.5rem;
    padding: 15px;
    line-height: 1;
}
.parrafo2{
    color: rgb(10, 244, 10);
    font-size: 1.5rem;
    background-image: url(../Imagenes/fondo1.jpg);
    padding: 15px;
    line-height: 2;
}
.caja1{
   padding: 1rem; 
   margin: 10px;
   line-height: 1.5;
   width: 400px;
   height: 200px;
   border: 1px greenyellow solid;
   overflow: auto;
}
.caja{
    width: 100px;
    height: 100px;
    margin: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#abajo{
    color: black;
}
.table1{
    border: 2px solid black;
}
.lista1{
    list-style-type:upper-alpha;
}
.titulo{
    text-decoration: underline;
    text-align: center;
}
.titulo1{
    text-align: center;
}
.Parrafo0{
    color: darkred;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    line-height: 1.5;
}
.img1{
    text-align: center;
}
.nav3{
    background-color: lawngreen;
    list-style: none;
    margin: 0px auto;
    text-align: center;
    border-radius: 10px;
    display: flex;
}
.menu{
    background-color: rgb(9, 170, 122);
    list-style: none;
    margin: 0px auto;
    text-align: center;
    border-radius: 10px;
    display: flex;
}
.menu li{
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
}
.menu li a{
    padding: 10px;
    margin: 10px;
    color: rgb(0, 1, 13);
    text-decoration: none;
}
.menu li a:hover{
    color: black;
    background-color: aqua;
    border-radius: 50%;
}
.contenedor{
   margin: auto;
   width: 90%;
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: auto 3fr auto;
   grid-auto-rows: row;
   gap: 1px 1px;
   grid-template-areas: 
   "header header"
   "main aside"
   "footer footer";
}
.header{
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header a{
    padding: 10px;
    margin: 10px;
    color: rgb(0, 1, 13);
    text-decoration: none;
    text-align: center;
}
.header a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}
.header a:active{
    background-color: maroon;
}
.main{
    background-color: black;
    grid-area: main;
    border: 2px rgb(255, 0, 0) double;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aside{
    background-color: black;
    grid-area: aside;
    border: 2px rgb(255, 0, 0) double;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer{
    background-color: black;
    grid-area: footer;
    border: 2px rgb(255, 0, 0) double;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.container-fluid{
    background-color: rgb(9, 170, 122);
    list-style: none;
    margin: 0px auto;
    text-align: center;
    border-radius: 10px;
    display: flex;
    text-decoration: none;

}
@media screen and (max-width: 600px){
    body{
        background-color: #f8ff27;
        font-family: 'Montserrat', sans-serif;
    }
    h1{
        color: black;
        font-size: 3rem;
    } 
    .contenedor{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "header"
        "main "
        "aside"
        "footer ";
     }
     .header{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .menu{
        flex-direction: column;
    }
}