* {
  margin: 2px;
  padding: 2px;
  box-sizing: border-box; }

body {
  background-color: #0fcae230;
  font-family: 'Montserrat', sans-serif; }

header em {
  color: #0a0303; }

header .img1 {
  text-align: center; }
  header .img1 img {
    width: 100px; }

header h1 {
  color: black;
  font-family: 'Courgette', cursive;
  text-decoration: underline; }

header nav div img {
  width: 100px; }

header nav .menu {
  background-color: #09aa7a;
  list-style: none;
  margin: 0px auto;
  text-align: center;
  border-radius: 10px;
  display: flex; }
  header nav .menu li {
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center; }
    header nav .menu li a {
      padding: 10px;
      margin: 10px;
      color: #00010d;
      text-decoration: none; }
      header nav .menu li a:hover {
        color: black;
        background-color: aqua;
        border-radius: 50%; }

main .caja {
  width: 100px;
  height: 100px;
  margin: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px; }
  main .caja img {
    width: 140px; }

main section p {
  color: black; }

main section p {
  color: black; }

main section p {
  color: black; }

main h3 {
  color: black; }

main table {
  border: 2;
  padding: 10px; }
  main table thead tr {
    color: black; }
    main table thead tr th {
      color: black; }
    main table thead tr th {
      color: black; }
    main table thead tr th {
      color: black; }
  main table tbody tr td {
    color: black; }
  main table tbody tr td {
    color: black; }
  main table tbody tr td {
    color: black; }
  main table tbody tr td {
    color: black; }
  main table tbody tr td {
    color: black; }
  main table tbody tr td {
    color: black; }
  main table tbody tr td {
    color: black; }
  main table tbody tr td {
    color: black; }
  main table tbody tr td {
    color: black; }

main section h3 {
  color: black; }

main section ol li {
  color: black; }

main section ol ul li {
  color: black; }

main section ol ul li {
  color: black; }

main section ol ul li {
  color: black; }

main section ol li {
  color: black; }

main section ol li {
  color: black; }

main section ol li {
  color: black; }

main .galeria {
  background-color: #192119;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  main .galeria div .img2 {
    width: 300px;
    border: #f11307 3px double;
    opacity: .1; }
    main .galeria div .img2:hover {
      opacity: .4;
      border: #e3dbdb 2px solid; }

main section h2 {
  color: black; }

main section table {
  border: 1;
  padding: 10px; }
  main section table thead tr {
    color: black; }
    main section table thead tr th {
      color: black; }
    main section table thead tr th {
      color: black; }
    main section table thead tr th {
      color: black; }
  main section table tbody tr td {
    color: black; }
  main section table tbody tr td {
    color: black; }
  main section table tbody tr td {
    color: black; }
  main section table tbody tr td {
    color: black; }
  main section table tbody tr td {
    color: black; }
  main section table tbody tr td {
    color: black; }
  main section table tbody tr td {
    color: black; }
  main section table tbody tr td {
    color: black; }
  main section table tbody tr td {
    color: black; }

footer td h4 a {
  padding: 10px;
  margin: 10px;
  color: #1fb811;
  text-decoration: none; }
