footer{
    td{
        h4{
            margin: 2px;
            color: $colorgal;
            font-size: 1rem;
            text-decoration: underline;
            #abajo{
                color: $colorgal;
            }
        }
    }
}