footer{
    h2{
        color: $colortit;
        text-decoration: underline;
        font-family: $letratit
    }
    a{
        padding: 10px;
        margin: 10px;
        font-family: $letratex;
        font-size: 1rem;
        color: #00005a;
        text-decoration: none;
    }
}