@media screen and (max-width: 600px){
    body{
        background-color: #e5ec0f;
        font-family: 'Montserrat', sans-serif;
    }
    h1{
        color: black;
        font-size: 3rem;
    } 
    .contenedor{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "header"
        "main "
        "aside"
        "footer ";
     }
     .header{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .menu{
        flex-direction: column;
    }
}