.contenedor{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: auto 3fr auto;
    grid-auto-rows: row;
    gap: 1px 1px;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    .header{
        grid-area: header;
        display: row;
        justify-content: space-around;
        align-items: center;
        h1{
            color:$colortit;
            font-family: $letratit;
            text-decoration: underline;
        }
        nav{
            div{
                img{
                    width: 50px;
                }
            }
            .menu{
                background-color: $colornav;
                list-style: none;
                margin: 0px auto;
                text-align: center;
                border-radius: 10px;
                display: flex;
                li{
                    display: inline-block;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    a{
                        padding: 15px;
                        margin: 10px;
                        color: rgb(0, 1, 13);
                        text-decoration: none;
                        &:hover{
                            color: #0cd3da;
                            background-color: $colorbg;
                            border-radius: 50%;
                            transform: scale(1.2);
                        }
                    }
                }
            }
            div{
                img{
                    width: 50px;
                }
            }
        }
    }
    .main{
        background-color: black;
        grid-area: main;
        border: 2px #ff0000 double;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .pag2{
            background-color: $colornav;
            text-align: center;
            color: black;
            font-family: $letratit;
            text-decoration: none;
        } 
        img{
            width: 400px;
        }
    }
    .aside{
        background-color: black;
        grid-area: aside;
        border: 2px #ff0000 double;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .pag2{
            background-color: $colornav;
            text-align: center;
            font-family: $letratit;
        } 
        video{
            width: 500px;
        }
    }
    .footer{
        background-color: black;
        grid-area: footer;
        border: 2px #ff0000 double;
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .pag2{
            background-color: darkred;
            text-align: center;
            font-family: $letratit;
        } 
        .parrafo0{
            color: darkred;
            text-decoration: none;
            font-size: 1rem;
            padding: 10px;
            line-height: 1.5;
        }
        .pag2{
            background-color: $colornav;
            text-align: center;
            font-family: $letratit;
        } 
    }
 }