@import "var";
@import "header";
@import "main";
@import "footer";
@import "pag2";

*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}
body{
    background-color: #0fcae230;
    font-family:'Montserrat', sans-serif;
    .img1{
        text-align: center;
        img{
            width: 100px;
        }
    }
    
}
.body2{
    background-color: #0fcae230;
    font-family:'Montserrat', sans-serif;
    .titulo1{
        color: $colortit;
        text-align: center;
        text-decoration: underline;
        font-family: $letratit;
    }
    .img1{
        text-align: center;
        img{
            width: 100px;
        }
    }
}
@media screen and (max-width: 600px){
    body{
        background-color: $colormed;
        font-family: $letratex
    }
    h1{
        color: black;
        font-size: 3rem;
    } 
    .contenedor{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "header"
        "main "
        "aside"
        "footer ";
        .header{
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        .main{
            img{
                width: 100%;
            }
        }
        .aside{
            video{
                width: 100%;
            }
        }
    }
    .menu{
        flex-direction: column;
    }
    .body2{
        background-color: $colormed;
        font-family: $letratex;
     }
     .contenedor1{
        flex-direction: column;
     }
     .img3{
        margin: 0px auto;
    }  

}
